@model CCO_Urenregistratie.Models.Project

<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProject">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-cco">
                <div class="panel-heading">
                    <h2 class="panel-title">Verwijderen<span class="fa fa-close pull-right" data-dismiss="modal" aria-hidden="true" /></h2>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-cco fa fa-floppy-o" />
                    }

                </div>
            </div>
        </div>
    </div>
</div>