@using CCO_Urenregistratie.Helpers
@model IEnumerable<CCO_Urenregistratie.Models.Project>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-24">

        @Html.Partial("Create",new CCO_Urenregistratie.Models.Project())

        <div class="col-sm-offset-2 col-sm-8 box animated fadeIn">
            <div class="panel panel-cco">
                <div class="panel-heading">
                    <h2 class="panel-title">Projecten</h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        <div class="btn-group">
                                            @Html.IconActionLink("fa fa-edit", "", "Edit", "Projects", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-cco" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>