@{
    ViewBag.Title = "Wachtwoord vergeten bevestiging";
}
    <div class="row">
        <div class="col-sm-24">
            <div class="col-sm-offset-2 col-sm-8 box animated zoomInRight">
                <div class="panel panel-cco">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wachtwoord reset is verzonden</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <div class="center-block logo-big"></div>

                            <div class="text-center">
                                Een wachtwoord reset link is naar je E-mail gestuurd!
                                <br />
                                <br />
                                <a type="submit" id="submit" name="submit" class="btn btn-cco" role="button" href="Login">
                                    <span class="fa fa-undo"></span>
                                    Terug
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   