@model CCO_Urenregistratie.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-24">
            <div class="col-sm-offset-2 col-sm-8 box animated zoomInRight">
                <div class="panel panel-cco">
                    <div class="panel-heading">
                        <h3 class="panel-title">Urenregistratie - Wachtwoord vergeten</h3>
                    </div>
                    <div class="panel-body">
                        <form id="div1" method="post">

                            <div class="col-sm-12">
                                <div class="center-block logo-big"></div>
                            </div>

                            <div class="col-sm-12">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="info-cco input-group-addon"><i class="fa fa-envelope"></i></span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <a type="submit" id="submit" name="submit" class="btn btn-cco" role="button" href="javascript:history.go(-1)">
                                    <span class="fa fa-undo"></span>
                                    Terug
                                </a>

                                <button type="submit" id="submit" name="submit" class="btn btn-cco">
                                    <span class="fa fa-refresh"></span>
                                    Reset wachtwoord!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
