@{
    ViewBag.Title = "Wachtwoord opnieuw ingesteld";
}

<div class="row">
    <div class="col-sm-24">
        <div class="col-sm-offset-2 col-sm-8 box animated zoomInRight">
            <div class="panel panel-cco">
                <div class="panel-heading">
                    <h3 class="panel-title">Wachtwoord opnieuw ingesteld</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="center-block logo-big"></div>

                        <div class="text-center">
                            Je wachtwoord is opnieuw ingesteld
                            <br />
                            <br />
                            @Html.ActionLink("klik hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
