@using CCO_Urenregistratie.Helpers
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        <li>
            @Html.IconActionLink("fa fa-user", "Welkom, " + User.Identity.GetUserName(), "Index", "Manage", null, htmlAttributes: new { title = "Manage" })
        </li>

        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Uitloggen</a>
        </li>
    </ul>
    }
}
else
{

}
