@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Welkom, " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li>
            <a class="fa fa-user">Welkom, John Doe</a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out"></span> Uitloggen</a>
        </li>
    </ul>
    }
}
else
{

}
